.app-div {
  height: 100vh;
}

header {
  align-items: center;
  background-color: #343434;
  color: white;
  display: flex;
  height: 15vh;
  justify-content: space-around;
}

.link {
  color: white;
}

.link:hover {
  color: orange;
}

body {
  background-color: #fcecc9;
}

.current-view {
  align-items: center;
  background-color: #fcecc9;
  display: flex;
  height: 100%;
  justify-content: center;
}
