.app-div {
  height: 100vh;
}

header {
  align-items: center;
  background-color: #343434;
  color: white;
  display: flex;
  height: 15vh;
  justify-content: space-around;
}

.site-title {
  align-items: center;
  color: white;
  display: flex;
  font-size: 50px;
  justify-content: space-between;
  text-decoration: none;
}

.book-icon {
  height: 50px;
  margin-left: 10px;
  width: 50px;
}

.link {
  color: white;
}

header .link {
  font-size: 32px;
  transition: all .2s ease-in-out;
}

header .link:hover {
  transform: scale(1.1);
}

.link:hover {
  color: orange;
}

body {
  background-color: #fcecc9;
}

.welcome-message {
  font-size: 60px;
}

.current-view {
  align-items: center;
  background-color: #fcecc9;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
