.book-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn ease-in 1;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  -moz-animation: fadeIn ease-in 1;
  -moz-animation-duration: 0.75s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
}

.book-card {
  align-items: center;
  background-color: #343434;
  box-shadow: 4px 4px 4px 4px gray;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  margin: 20px;
  text-align: center;
  width: 25vw;
  overflow: hidden;
}

.book-image {
  height: 60%;
  width: 50%;
}

.book-details {
  align-items: center;
  background-color: #ffe66d;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.book-title {
  font-size: 16px;
  height: 15%;
  margin-bottom: 10px;
}

.book-author {
  height: 15%;
}

.book-description {
  display: none;
  font-size: 12px;
}

.book-card:hover {
  cursor: pointer;
}

.book-card:hover .book-author,
.book-card:hover .book-title {
  cursor: pointer;
  display: none;
}

.book-card:hover .book-description {
  cursor: pointer;
  display: block;
  margin: 10px;
  overflow: scroll;
}

.add-button {
  background-color: #fcecc9;
  border: none;
  font-size: 24px;
  outline: none;
  width: 100%;
}

.recommend-button {
  background-color: #343434;
  color: white;
  height: 20px;
  padding: 5px;
  width: 60%;
}

.recommend-button:hover {
  background-color: orange;
  color: black;
}

.hidden {
  display: none;
}

.selected {
  border: 10px solid purple;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 730px) {
  .book-card img {
    display: none;
  }

  .book-card {
    height: 20vh;
  }
}

@media (max-width: 620px) {
  .recommend-button {
    font-size: 8px;
  }
}
