.register-div {
  animation: fadeIn ease-in 1;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  -moz-animation: fadeIn ease-in 1;
  -moz-animation-duration: 0.75s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
  align-items: center;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
  width: 50%;
}

.register-div input,
.register-div button {
  font-size: 32px;
  height: 35px;
  width: 80%;
}

.register-button {
  background-color: #fcecc9;
  border: none;
  outline: none;
}

.register-button:hover {
  background-color: orange;
}

.register-button:disabled {
  background-color: gray;
  color: white;
}

.error-message {
  animation: fadeIn ease-in 1;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  color: white;
  text-align: center;
  -moz-animation: fadeIn ease-in 1;
  -moz-animation-duration: 0.75s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
}

.login-redirect {
  color: white;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 620px) {
  .register-div button,
  .register-div input {
    font-size: 16px;
  }
  .register-div {
    width: 70%;
  }
}
