* {
  margin: 0;
  padding: 0;
}

.search-div {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.search-input,
.search-button {
  font-size: 50px;
  height: 60px;
  text-align: center;
  width: 60%;
}

.search-button {
}
