* {
  margin: 0;
  padding: 0;
}

.search-div {
  animation: fadeIn ease-in 1;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  -moz-animation: fadeIn ease-in 1;
  -moz-animation-duration: 0.75s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.logged-in-status {
  animation: 1s slidein;
  font-size: 20px;
  margin: 10px;
}

@keyframes slidein {
  from {
    margin-bottom: -2000px;
  }
  to {
    margin-bottom: 0;
  }
}

.search-input,
.search-button {
  font-size: 50px;
  height: 25%;
  text-align: center;
  width: 60%;
}

.search-button:hover {
  background-color: orange;
  color: white;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .search-button,
  .search-input {
    height: 10%;
    font-size: 20px;
    width: 80%;
  }

  .logged-in-status {
    font-size: 14px;
  }
}
